<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password</title>
  </head>

  <body style="background-color: #4299e1">
    <% if (msg1.length !== 0) { %>
    <div style="position: fixed; top: 3%; left: 50%; transform: translateX(-50%); border-radius: 5px; background-color: #e3342f; color: #fff; padding: 0 1.5rem">
      <p><%= msg1 %></p>
    </div>
    <% }else if (msg2.length !== 0) { %>
    <div style="position: fixed; top: 3%; left: 50%; transform: translateX(-50%); border-radius: 5px; background-color: #e3342f; color: #fff; padding: 0 1.5rem">
      <p><%= msg2 %></p>
    </div>
    <% } %>
    <div style="display: flex; align-items: center; justify-content: center; height: 100vh">
      <div
        style="
          background-color: white;
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
          width: 30%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-opacity: 0.9;
          padding: 20px;
        "
      >
        <h1 style="font-weight: bold; font-size: 2rem; text-align: center; margin-bottom: 10px">FORGET PASSWORD</h1>
        <form style="width: 70%; display: flex; flex-direction: column" action="http://localhost:3000/api/v1/users/forget-password" method="post">
          <div style="background-color: #2d3748; display: flex; border-radius: 4px; margin-bottom: 10px">
            <label style="padding: 8px">
              <img src="/img/email-icon.svg" style="filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(54deg) brightness(106%) contrast(101%); width: 20px" />
            </label>
            <input type="email" name="email" id="email" style="background-color: #4a5568; outline: none; color: white; border: none; width: 120%; border-radius: 0 4px 4px 0; padding-left: 10px" placeholder="Email" />
          </div>
          <button type="submit" style="background-color: #4299e1; color: white; padding: 8px 16px; border-radius: 50px; margin-top: 10px; cursor: pointer">Send Email</button>
        </form>
        <p style="text-align: center; margin-top: 5px; color: #718096">Remember your password? <a href="/login" style="font-weight: bold; color: #4a5568">Login</a></p>
      </div>
    </div>
  </body>
</html>
